extends(name="qzone") weibo-1234
replace content
  div 123
before content
  div 234
after content
  div 567
extends weibo-12312
before name
  div qq
include(name="123") weibo-123
include 23ibo-123
  block name
doctype html
case firend
  when 0
    div qzone
  when 2
    div qzone
  default
    div qzone
each invalue in obj
each value ,   index in werw in weibo
html qzone
  | dfsd  fsd
  if name
    div qzone
  else name qzone
    div qzone
  else if name wzoen
    | qzone
  test.class.qzone.weibo-qq.console.log(name=[qq.weibo], weibo = [qq['_name']['123']], weibo-qq=123) qq
    | html
  qzone weibo
    // weibo this is comment
    test(
      name = qq, weibo = qq,
      name = qq,
      name = "string",
      test = {
        name: 'qq',
        weibo: [1,"2",qq],
        host: name.qq
      }
    ) html this is qq
      test hts sdfs sdf s
    script.

      console.log('test');
        console.log('qq');

      console.log('123');
    qzone hfsdf
qzone
  head
  - console.log('test');
  body
    div
      comm-admin-menu(name=qq, weibo = qq, weibo-qq=123) weibo
        weibo
          qzone weibo
      comm-admin-navbar
      comm-admin-list(
        name = qq, weibo = qq,
        name = qq,
        name = "string",
        test = {
          name: 'qq',
          weibo: [1,"2",qq]
        }
      )
      comm-admin-navbar
    div
      qzone