doctype html
html
  head
    meta(charset="utf-8")
    meta(name="keywords", content=keywords)
    meta(name="description", content="#{description}")
    title #{title}
  body
    header:top
    comm-header
    comm-navbar:top
    comm-navbar:bottom
    header.header(id="header")
      block header
    main.main(id="main")
      block main
        p this is main default content
    footer.footer(id="footer")
      block main
    script.

      conosle.log('qzone');
      console.log('this is code test');
    each value in name
    extends index name
    replace qzone
      div qzone